* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html.touch *:hover {
  all: unset !important;
}

body {
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black;
  font-size: 1vw;
  font-weight: 300;
  background-color: $color-bg;
}

h1,
h2,
h3,
h4 {
  font-family: "Cormorant", serif;
  font-weight: 300;
}

h1 {
  font-size: 7.6vw;
  color: $color-text-primary;

  @include respond(phone) {
    font-size: 13.2vw;
  }
}

h2 {
  font-size: 0.8vw;

  @include respond(phone) {
    font-size: 2.6vw;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5vw;
}

.title {
  font-size: 0.8vw;
  font-weight: 400;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.subtitle {
  line-height: 100%;
  font-size: 5vw;
  margin-bottom: 1vw;
  font-weight: 200;
}
