* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

html.touch *:hover {
  all: unset !important;
}

body {
  font-family: "Libre Franklin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black;
  font-size: 1vw;
  font-weight: 300;
  background-color: $color-bg;
}

.container {
  border: 1px solid #000;
  max-width: 1200px;
  margin: 0 auto;
}
